@{
    ViewData["Title"] = "Add";
}
@model Product

<h1>Ürün Ekleme</h1>
<form asp-controller="Products" asp-action="Add" method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Ürün Ad:</label>
        <input class="form-control" asp-for="Name">
    </div>
    <div class="mb-3">
        <label asp-for="Price" class="form-label">Ürün Fiyat:</label>
        <input class="form-control" asp-for="Price">
    </div>
    <div class="mb-3">
        <label asp-for="Stock" class="form-label">Ürün Stok:</label>
        <input type="number" class="form-control" asp-for="Stock">
    </div>
    <div class="mb-3">
        <label asp-for="Color" class="form-label">Ürün Renk:</label>
        <input class="form-control" asp-for="Color">
    </div>
    <div class="mb-3">
        <label asp-for="IsPublished" class="form-label">Yayınlansın mı?:</label>
        <input  class="form-check-input" asp-for="IsPublished">
    </div>

    <button class="btn btn-primary" type="submit">Ürün Kaydet</button>
</form>

