
@{
    ViewData["Title"] = "Update";
}
@model Product
<h1>Ürün Güncelleme</h1>

<form asp-controller="Products" asp-action="Update" method="post">
    <input type="hidden" asp-for="Id" />
    <label>Ürün Ad:</label>
    <input type="text" asp-for="Name" />
    <br />
    <label>Ürün Fiyat:</label>
    <input type="text" asp-for="Price" />
    <br />
    <label>Ürün Stok:</label>
    <input type="number" asp-for="Stock" />
    <br />
    <label>Ürün Renk:</label>
    <input type="text" asp-for="Color" />
    <button type="submit">Ürün Kaydet</button>
</form>