
@{
    ViewData["Title"] = "Index";
}
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function(){
        
        })
        
    </script>
}

    <div class="mb-3">
        <label for="Name" class="form-label">İsim:</label>
        <input class="form-control" id="Name">
    </div>
    <div class="mb-3">
        <label class="form-label">Yorum:</label>
        <textarea class="form-control" id="Comment" name="Comment" placeholder="Yorum"></textarea>
    </div>
    <button type="button" class="btn btn-primary">Kaydet</button>
