@{
    ViewData["Title"] = "Index";
}
@section Scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {


            function loadComments() {

                $.ajax({

                    type: "GET",
                    url: "/visitorAjax/VisitorCommentList",
                    data: jsonData,
                    success: function () {

                        $.each(data, function (index, item) {

                            let item = `    <div class="card mt-3">
                                                                <div class="card-body">
                                                                <h5 class="card-title">${item.name}</h5>
                                                                 <h6 class="card-subtitle mb-2 text-muted">${item.created}</h6>
                                                                 <p class="card-text">${item.comment}</p>
                                                                 </div>
                                                                </div>`;
                            $(#comments).append(item)

                        })

                    },
                    error: function (error) {
                        console.log(error);
                    }

                })

            }

            loadComments();

            $("#btnSave").click(function () {

                var name = $("#Name").val();

                var comment = $("#Comment").val();

                var jsonData = { "name": name, "comment": comment };

                $.ajax({

                    type: "POST",
                    url: "/visitorAjax/SaveVisitorComment",
                    data: jsonData,
                    success: function () {
                        console.log(data);
                    },
                    error: function (error) {
                        console.log(error);
                    }

                })


            })
        })

    </script>
}

<div id="comments">
</div>

<div class="mb-3">
    <label for="Name" class="form-label">İsim:</label>
    <input class="form-control" id="Name">
</div>
<div class="mb-3">
    <label class="form-label">Yorum:</label>
    <textarea class="form-control" id="Comment" name="Comment" placeholder="Yorum"></textarea>
</div>
<button id="btnSave" type="button" class="btn btn-primary">Kaydet</button>
