
@{
    ViewData["Title"] = "LayoutExample sayfasıdır";
    Layout = "~/Views/Shared/_ExampleLayout.cshtml";
}

<h1>Bu sayfa ExampleController > Index sayfasıdır.</h1>
@section header{
    <p>Bu kodlar header section içerisine eklenir.</p>
}
@section footer{
    <p>Bu kodlar footer section içerisine eklenir.</p>
}



